body {
  font-family: Arial;
  background: #121212;
  color: #fff;
  padding: 30px;
}

input, select, button {
  padding: 10px;
  margin: 5px;
  border-radius: 6px;
  border: none;
}

button {
  background: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

li {
  background: #1f1f1f;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

.overdue {
  border-left: 5px solid red;
}

.focused {
  border: 2px solid #4CAF50;
  box-shadow: 0 0 12px rgba(76, 175, 80, 0.6);
}

body.focus-mode li {
  opacity: 0.3;
}
