body {
  font-family: Arial;
  background: #121212;
  color: #fff;
  padding: 30px;
}

input, select, button {
  padding: 10px;
  margin: 5px;
  border-radius: 6px;
  border: none;
}

button {
  background: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

li {
  background: #1f1f1f;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

.overdue {
  border-left: 5px solid red;
}
